{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "node": "8.11.1" }
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-transform-runtime",
    ["module-resolver", {
      "root": ["./src", "./"],
      "alias": {
        "@utils": "./src/utils/",
        "@triggers": "./src/triggers/",
        "@package": "./package.json"
      }
    }]
  ]
}